#homepage-lessons-list {
  ul {
    li {
      a {
        img {
          height: 300px;
          max-height: 100%;
          object-fit: cover;
          object-position: center;
        }
        h2 {
          width: 100%;
          padding: 0;
          background-color: black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
#homepage-lesson-list {
  ul {
    li {
      a {
        h2 {
          mark {
            display: none;
          }
        }
      }
    }
  }
}
#hompage-latest-article-list {
  article {
    position: relative;
    .elementor-post__text {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      padding: 0 20px;
    }
    .elementor-post__thumbnail {
      padding: 0;
      img {
        position: static;
        transform: none;
        height: 250px;
        object-fit: cover;
      }
      &::before {
        content: "";
        background: linear-gradient(
          180deg,
          rgba(23, 17, 17, 0) 0%,
          var(--e-global-color-1a8bc11) 100%
        );
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    .elementor-post__thumbnail__link {
      margin: 0;
    }
  }
}
@media (min-width: 992px) {
  #homepage-card-list {
    h2 {
      height: 56px;
      max-height: 100%;
    }
    .elementor-widget-text-editor {
      height: 144px;
      max-height: 100%;
    }
  }
}
//Tablet
@media (min-width: 768px) and (max-width: 991px) {
  #homepage-card-list {
    h2 {
      height: 48px;
      max-height: 100%;
    }
    .elementor-widget-text-editor {
      height: 96px;
      max-height: 100%;
    }
  }
}
// Mobile
@media screen and (max-width: 767px) {
  #homepage-card-list {
    .e-con-full {
      width: 320px;
      max-width: 100%;
      .elementor-widget-text-editor {
        height: 96px;
        max-height: 100%;
      }
    }
  }
}
