#single-product-image-site {
  .elementor-widget-container {
    .woocommerce-product-gallery__wrapper {
      a {
        img {
          height: 650px;
          max-height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}
#add-to-cart-site {
  .elementor-widget-container {
    .elementor-add-to-cart {
      .e-atc-qty-button-holder {
        .quantity {
          input {
            width: 70px;
            max-width: 100%;
          }
        }
      }
    }
  }
}
